{% extends "recomendacao/home.html" %}

{% block content %}
    {% if perfil.genero == "masculino" %}
        <h2>Perfil do @{{user}}</h2>
    {% else %}
        <h2>Perfil da @{{user}}</h2>
    {% endif %}

    <a href="{% url 'home' %}">voltar</a><br><br>
    <a href="{% url 'editPerfil' %}">Editar perfil</a><br><br>

    <h3>Informações básicas</h3>
    <p>Nome completo: {{usuario}} {{usuario.last_name}}</p>
    <p>Idade: {{idade}} anos</p>
    <p>E-mail: {{usuario.email}}</p>
    <p>Gênero: {{perfil.genero}}</p>
    <p>Telefone: {{telefone}}</p>
    <p>Senha: <a href="{% url 'password_change_password' %}">alterar senha</a><p><br>

    <p><a class="btn btn-secondary" href="{% url 'logout' %}">Logout</a></p>
    <a class="btn btn-danger" href="{% url 'delete_account' %}">Deletar conta</a><br><br>

{% endblock content %}