{% extends "recomendacao/home.html" %}

{% block content %}
    <title>Recomendação</title>

    <a href="{% url 'home' %}">home</a><br>
    <a href="{% url 'logout' %}">Sair</a><br><br>

    <form method="POST" action="{% url 'pergunta' %}">
    {% csrf_token %}

        <h2>Informe seus dados</h2>

        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" placeholder="Cardio" required><br><br>
        
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" placeholder="exercício recomendado para diabéticos..." required><br><br>
        

        <label for="link">Link:</label>
        <input type="text" id="link" name="link" placeholder="youtube.com" required><br><br><br>
        
        <button class="btn btn-info" type="submit">Gerar Recomendação</button>
      </form>
{% endblock content %}